.dashboard-card-margin {
    margin: 20px;
}

.blue-paragraph {
    color: blue;
}

.nav-bar-margin {
    margin-bottom: 10px;
}

.pagination-menu-margin {
    margin-top: 40px;
}

.detalhe-card-margin {
    margin: 20px;
}