{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

{% include 'partials/_navbar.html' %}


    <div class="container">
    <h3>Cadastro</h3>
    <p>Cadatro no app de monitoramento de perfis do Twitter.</p>
    <section>
        <form method="POST" action="{% url 'cadastro' %}">
        {% csrf_token %}
        {% for field in cadastro_form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
        </div>
        {% endfor %}
        <input type='submit' class='btn btn-success'>
        </form>        
    </section>
    </div>


{% endblock %}