{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

{% include 'partials/_navbar.html' %}

    <div class="container">
    <h3>Cadastro Perfis</h3>
    <p>Cadastro de perfis a serem monitorados.</p>
    <section>
        <form action="{% url 'cadastro_arroba' %}" method="POST" id="cadastro_arroba">
        {% csrf_token %}
        {% for field in arroba_form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
        </div>
        {% for error in field.errors %}
        <section class="alert alert-danger">
            {{ field.errors }}
        </section>
        {% endfor %}    
        {% endfor %}
        </form>
        <button type="submit" form="cadastro_arroba" class="btn btn-success" value="Submit">Enviar</button>
        <a href="{% url 'dashboard' %}" class="btn btn-primary">Voltar</a>
    </section>
    </div>
    
{% endblock %}