{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

{% include 'partials/_navbar.html' %}

    <div class="container">
    <h3>Dashboard</h3>
    <p>Lista de perfis monitorados.</p>    
    {% if lista_arrobas %}
    <section>
        <div class="container">
        <div class="row">
            {% for arroba in lista_arrobas %}
            <div class="card-deck">
                
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ arroba.arroba }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'detalha_arroba' arroba.id %}" class="btn btn-primary">Detalhes</a>
                    <a type="button" class="btn btn-danger" href="{% url 'deleta_arroba' arroba.id %}">Deletar</a>
                </div>
                </div>           
                               
            </div>
             {% endfor %}
        </div>
        </div>
    {% else %}
    <p>Lista vazia. Clique <a href="{% url 'cadastro_arroba' %}">aqui</a> para cadastrar arrobas para monitoramento.</p>
    {% endif %}
    </section>
    </div>


{% endblock %}