{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

{% include 'partials/_navbar.html' %}

    <div class="container">
    <h3>Dashboard</h3>
    <p>Lista de perfis monitorados.</p>    
    {% if lista_arrobas %}
    <section>
        <div class="container">
        <div class="row">
            {% for arroba in lista_arrobas %}
            <div class="col-xs-12 col-sm-6 col-lg-4">            
                {{ arroba.arroba }}
                <a type="button" class="btn btn-danger" href="{% url 'deleta_arroba' arroba.id %}">Deleta</a>
                {% endfor %}
            </div>
        </div>
        </div>
    {% else %}
    <p>Lista vazia. Clique <a href="{% url 'cadastro_arroba' %}">aqui</a> para cadastrar arrobas para monitoramento.</p>
    {% endif %}
    </section>
    </div>


{% endblock %}