{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

{% include 'partials/_navbar.html' %}

    <div class="container">
    <h3>{{ arroba.arroba }}</h3>
    <p>Página inicial app de monitoramento de perfis do Twitter.</p>
    <p>Numero de tweets {{ len }}.</p>
    <section>
        <table class="table">
            <thead>
            <tr class="row">
                <th class="col-3">Date</th>
                <th class="col-9">Tweet</th>
            </tr>
            </thead>
            <tbody>
        {% for tweet in json_tweets %}
            <tr class="row">
                <td class="col-3">{{ tweet.date }}</td>
                <td class="col-9">{{ tweet.text }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>        
    </section>
    <section>    
    <a type="button" class="btn btn-danger" href="{% url 'deleta_arroba' arroba.id %}">Deletar</a>   
    <a href="{% url 'dashboard' %}" class="btn btn-primary">Voltar</a>
    </section>
    </div>


{% endblock %}