{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

{% include 'partials/_navbar.html' %}

    <div class="container">
    <h3>Login</h3>
    <p>Login no app de monitoramento do Twitter.</p>
    <section>
        <form method="POST" action="">
            {% csrf_token %}
        {% for field in login_form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
        </div>
        {% endfor %}
        <input type='submit' class='btn btn-success'>
        </form>        
    </section>
    </div>

    
{% endblock %}